* {
  font-family: 'Baskervville', serif;
}
body {
  margin: 0;
  font-family: 'Baskervville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Baskervville', serif;
}
#root {
  background-image: linear-gradient(to right, rgba(255,255,255), rgba(0,145,255,0.4));
  height: 100vh;

}
/*******************************   Login/ Landing Page   ***************************************/
#topRow {
  margin-top: 50px;
}
#ressportHP {
  background-color: #003875;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  height: 85vh;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
  -webkit-box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
  -moz-box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
}
.homePG_HTag{
  color: #F7F49A;
  margin: 45px 0;
}
#logoHP {
  width: 180px;
  margin: 30px 0;
}
#homeLogIn {
  color: #F7F49A;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}
#homeLogIn::after {   
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #F7F49A;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#homeLogIn:hover:after { 
  width: 100%; 
  left: 0; 
}
#flagHP {
  width: 30px;
}
/**********************************   ****************************/

/* #welcomeDiv {
  background-color: #003875;
  height: 85vh;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53); 
  border-radius: 25px;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
} */
#welcomeDiv:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 85vh;
  width: 51%;
  background-color: #003875;
  transform: skew(0deg, 1deg);
  border-radius: 25px;
}
#welcomeDiv:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 85vh;
  width: 50%;
  background-color: #003875;
  transform: skew(0deg, -1deg);
  border-radius: 25px;
  z-index: 0;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53); 
}
#insideBook:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 51%;
  background-color: #B3D7E9;
  transform: skew(0deg, 1deg);
  border-radius: 25px;
  margin-top: 20px;
}
#insideBook:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 80vh;
  width: 50%;
  background-color: #B3D7E9;
  transform: skew(0deg, -1deg);
  border-radius: 25px;
  z-index: 1;
  margin-top: 20px;
}
            
#welcomeContent {
  position: relative;
  z-index: 100;
}





/* #insideBook {
  background-color: #B3D7E9;
  height: 80vh;
  margin-top: 20px;
  border-radius: 25px;
} */