* {
  font-family: 'Baskervville', serif;
}
body {
  margin: 0;
  font-family: 'Baskervville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Baskervville', serif;
}
#root {
  background-image: linear-gradient(to right, rgba(255,255,255), rgba(0,145,255,0.4));
  height: 100vh;

}

:root {
  --color-cover: #003875;
  --color-pages: #B3D7E9;
  --color-home: #F7F49A;
}
/*******************************   Login/ Landing Page Component  ***************************************/
.topRow {
  margin-top: 50px;
}
#ressportHP {
  background-color: var(--color-cover);
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  height: 85vh;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
  -webkit-box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
  -moz-box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
}
.homePG_HTag{
  color: var(--color-home);
  margin: 45px 0;
}
#logoHP {
  width: 180px;
  margin: 30px 0;
}
#homeLogIn {
  color: var(--color-home);
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}
#homeLogIn::after {   
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: var(--color-home);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#homeLogIn:hover:after { 
  width: 100%; 
  left: 0; 
}
#flagHP {
  width: 30px;
}
/**********************************  Welcome page component w/ visited and wishlist  ****************************/

/* #welcomeDiv {
  background-color: #003875;
  height: 85vh;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53); 
  border-radius: 25px;
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
} */
.bookCover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 85vh;
  width: 51%;
  background-color: var(--color-cover);
  transform: skew(0deg, 1deg);
  border-radius: 25px;
}
.bookCover:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 85vh;
  width: 50%;
  background-color: var(--color-cover);
  transform: skew(0deg, -1deg);
  border-radius: 25px;
  z-index: 0;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53); 
}
.insideBook:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 51%;
  background-color: var(--color-pages);
  transform: skew(0deg, 1deg);
  border-radius: 25px;
  margin-top: 20px;
}
.insideBook:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 80vh;
  width: 50%;
  background-color:  var(--color-pages);
  transform: skew(0deg, -1deg);
  border-radius: 25px;
  z-index: 1;
  margin-top: 20px;
}
            
.leftContent {
  margin-top: 8px;
  /* height: 666.398px;
  overflow: scroll; */
}
.rightContent {
  z-index: 2;
  margin-top: 12px;
}
/* #insideBook {
  background-color: #B3D7E9;
  height: 80vh;
  margin-top: 20px;
  border-radius: 25px;
} */
/************************   Progress page component   **************************/

#bkStamp {
  rotate: 15deg;
  width: 55%;
  margin: 25px;
}
#manStamp {
  width: 53%;
  margin: 25px;
  float: right;
}
.progressBar {
  width: 75%;
  margin-top: 15px;
}
/************************   Restaurants page component   **************************/
li {
  list-style: none;
  font-size: 2.2rem;
  width: 100%;
  padding: 0;
  margin: 0;
  line-height: 2;
}
li::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url(./ForkLi.png);
  background-size: auto 35px;
  background-repeat: no-repeat;
}
#resRow {
  overflow: scroll;
  height: 45em;
}