* {
  font-family: 'Baskervville', serif;
}
body {
  margin: 0;
  font-family: 'Baskervville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Baskervville', serif;
}
#topRow {
  margin-top: 50px;
}
#ressportHP {
  background-color: #003875;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  height: 85vh;
  box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
  -webkit-box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
  -moz-box-shadow: 20px 28px 49px -10px rgba(0,0,0,0.53);
}
.homePG_HTag{
  color: #F7F49A;
  margin: 45px 0;
}
#logoHP {
  width: 180px;
  margin: 30px 0;
}
#homeLogIn {
  color: #F7F49A;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}
#homeLogIn::after {   
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #F7F49A;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#homeLogIn:hover:after { 
  width: 100%; 
  left: 0; 
}
#flagHP {
  width: 30px;
}
